input:focus{
  outline: 0;
}
textarea:focus{
  outline: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;   
}
input[type="checkbox"]:checked{
    background-color: #FFFFFF;
}


.armorClass{
  background-image: url("img/armorClass.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.overflowY{
  overflow-y: auto;
  overflow-x: none;
}
