<header class="py-5 bg-neutral-900 flex items-center">
        <a class="uppercase font-bold text-2xl text-purple-700 px-5" href="#">gmprikol</a>
        
        <nav class="grid grid-cols-2 items-center flex-row w-full">
            <div class="justify-self-start">
                <ul class="text-gray-500 font-semibold flex flex-inline items-center">
                    <li class="hover:text-purple-800 px-3"><a href="/">Home</a></li>
                    <li class="hover:text-purple-800 px-3"><a href="/collection">Collection</a></li>
                    <li class="hover:text-purple-800 px-3"><a href="#">Guide</a></li>
                </ul>
            </div>
            
            <div class="justify-self-end pr-5">
                <ul class="text-gray-500 font-bold flex flex-inline items-end">
                    <li class="bg-purple-500 text-white mx-2 py-1 px-3 rounded-md hover:bg-purple-600 transition duration-300"><a href="/auth?destination=login">Login</a></li>
                    <li class="bg-purple-500 text-white ml-2 py-1 px-3 rounded-md hover:bg-purple-600 transition duration-300"><a href="/auth?destination=register">Register</a></li>
                </ul>
            </div>
        
        </nav>
     
     </header>
