<!DOCTYPE  html>
<html>
 
 <head>
     <title> gmprikol </title>
     <link href="styles.css" rel="stylesheet">
 </head>
 
 <body class="bg-neutral-800 ">
  <div class="h-screen grid grid-rows-[auto_1fr_auto]">

     <%- include("partials/header.ejs") %>
     
     <!--Big semibeatuful banner-->
             <div id="big_banner" class="startBanner">
                <div class=" w-full h-full bg-neutral-900 hover:bg-transparent transition duration-700 grid grid-rows-1 items-center">
                    <div class="justify-self-center">
                        <a class="uppercase font-bold bg-gradient-to-r from-indigo-500 via-gray-200 to-pink-500 bg-clip-text text-transparent text-8xl hover:text-9xl p-20 transform duration-500 tracking-wide" href="/play">start</a>
                    </div>
                </div>
            </div>
     
     <div class=""> 
         <main class="">
            
            <!--Main Text -->
            <div class="max-w-screen-2xl mx-auto flex flex-inline">
                <div class="p-5 w-full">
                    <div class=" my-6 py-10 flex items-center">
                        <div class="basis-2/3">
                            <h2 class="capitalize font-bold text-5xl text-gray-100 py-8 px-4">pisya</h2>
                            <p class="text-xl text-gray-200 px-10">
                            aaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaa aaa aaaaaa aaaa aaaa aaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaa 
                            </p>
                        </div>
                        <img class=" border-4 border-gray-500 rounded-lg hover:border-purple-700 hover:w-80 hover:h-80 transform duration-700 h-60 w-60 object-cover mx-10 justify-self-end" src="img/Саня.jpg">
                    </div>

                    <div class="border-2 my-3 border-neutral-700"> </div>

                    <div class=" my-6 py-10 flex items-center">
                        <div class="basis-2/3">
                            <h2 class="capitalize font-bold text-5xl text-gray-100 py-8 px-4 ">Popa</h2>
                            <p class="text-xl text-gray-200 px-10">
                            bbbbbbbbbbb bbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbb bbbbbb bbbbbbbbb bbbbbb bbbbbbbbbbbbb bbbbbbbbbbbbbbbbbbbb bbbbbbbbbbbb bbbbbb 
                            </p>
                        </div>
                        <img class="border-4 border-gray-500 rounded-lg hover:border-purple-700 hover:w-80 hover:h-80 transform duration-700 h-60 w-60 object-cover mx-10" src="img/Денис.jpg">
                    </div>

                    <div class="border-2 my-3 border-neutral-700"> </div>

                    <div class=" my-6 py-10 flex items-center">
                        <div class="basis-2/3">
                            <h2 class="capitalize font-bold text-5xl text-gray-100 py-8 px-4">Kakashechki</h2>
                            <p class="text-xl text-gray-200 px-10">
                            ccccccccccc ccccccccc ccccccccccc cccccccccc c c ccccccc ccccc cc ccccc ccccccccccccccc cccccc ccccccc ccccccc ccccccccc ccccccccc 
                            </p>
                        </div>
                        <div class="">
                            <img class="border-4 border-gray-500 rounded-lg hover:border-purple-700 hover:w-80 hover:h-80 transform duration-700 w-60 h-60 object-cover mx-10 " src="img/Федя.jpg">
                        </div>
                    </div>
                </div>
            
            </div>
        </main>
    </div>

     <footer class="bg-neutral-900 py-5 flex flex-inline w-full items-center">
         <div class="basis-1/4">
            <h3 class="capitalize text-gray-400 font-bold text-lg pb-3 px-2">Ochen vajno-1</h3>
            <ul class="font-semibold text-gray-500 px-4">
                <li class="py-1"><a class="hover:text-gray-200" href="#">bababa</a></li>
                <li class="py-1"><a class="hover:text-gray-200"href="#">bebebe</a></li>
                <li class="py-1"><a class="hover:text-gray-200" href="#">bobobo</a></li>
            </ul>
         </div>

         <div class="basis-1/4">
            <h1 class="capitalize text-gray-400 font-bold text-lg pb-3 px-2">ochen vajno-2</h1>
            <ul class="font-semibold text-gray-500 px-4">
                <li class="py-1"><a class="hover:text-gray-200" href="#">blin</a></li>
                <li class="py-1"><a class="hover:text-gray-200" href="#">vot eto</a></li>
                <li class="py-1"><a class="hover:text-gray-200" href="#">da</a></li>
            </ul>
         </div>
         
         <div class="basis-1/4">
            <h1 class="capitalize text-gray-400 font-bold text-lg pb-3 px-2">ochen vajno-3</h1>
            <ul class="font-semibold text-gray-500 px-4">
                <li class="py-1"><a class="hover:text-gray-200" href="#">link-1</a></li>
                <li class="py-1"><a class="hover:text-gray-200" href="#">link-2</a></li>
                <li class="py-1"><a class="hover:text-gray-200" href="#">link-3</a></li>
            </ul>
         </div>

     </footer>
    
     <script src="scripts/move_Gradient_W_Cursor.js"></script>

  </div> 
 </body>
</html>
